/* index */

.headtitle{
    text-align: center;
    margin-bottom: 2rem;
}
.start{
    float: right;
}




/* game */
#game{
    text-align: right;
}

/* for processing use */

.notvisible{
    display: none;
}